- provide(:title, 'Log in')

%section
  .flex.flex-col.items-center.px-6.py-8.pt-20
    .w-full.shadow.md:mt-0.sm:max-w-md.xl:p-0
      .p-6.space-y-4.md:space-y-6.sm:p-8
        %h1.text-center.text-xl.font-bold.leading-tight.tracking-tight.text-gray-900.md:text-2xl.dark:text-white
          Log in
        -# = render 'shared/errors', object: @user
        = render 'form'
