- provide(:title, 'Edit Note')

%h1.mt-10.mb-6.text-center.text-4xl.font-extrabold.tracking-tight.leading-none.text-gray-900.md:text-5xl.lg:text-6xl.dark:text-white
  Edit Note

= render 'shared/errors', object: @note
= render 'form'
