<footer class="bg-white">
  <h2 id="footerHeading" class="sr-only">Footer</h2>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8 xl:col-span-1">
        <%= image_tag 'logo.svg', class: 'h-10', alt: "LibreRead Logo" %>
        <p class="text-gray-500 text-base">The easy way to export your Kindle
          notes and highlights to the integrations you love.
        </p> <div class="flex space-x-6">
      </div>
      </div>
      <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold text-gray-400
          tracking-wider uppercase">Kindle Links</h3>
            <ul class="mt-4 space-y-4">
              <li>
                <a target="_blank" rel="noopener"
                   href="https://read.amazon.com/kp/notebook/"
                   class="text-base text-gray-500 hover:text-gray-900">
                  Amazon Highlights Page</a>
              </li>
              <li>
                <a target="_blank" rel="noopener"
                   href="https://read.amazon.com/"
                   class="text-base text-gray-500 hover:text-gray-900">
                  Amazon Online Reader
                </a>
              </li>
              <li>
                <a target="_blank" rel="noopener"
                   href="https://www.amazon.com/gp/digital/fiona/manage#All"
                   class="text-base text-gray-500 hover:text-gray-900">
                  Amazon Kindle Settings
                </a>
              </li>
              <li>
                <a target="_blank" rel="noopener"
                   href="https://www.amazon.com/b?ie=UTF8&amp;node=16571048011"
                   class="text-base text-gray-500 hover:text-gray-900">
                  Amazon Kindle Apps
                </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              Something
            </h3>
            <ul class="mt-4 space-y-4">
              <li>
                <a href="#" target="_blank" class="text-base text-gray-500
                hover:text-gray-900">Something
                </a>
              </li>
              <li>
                <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                  Something
                </a>
              </li>
              <li>
                <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                  Something
                </a>
              </li>
              <li>
                <a href="#" target="_blank"
                   class="text-base text-gray-500 hover:text-gray-900">
                  Something
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
              Something
            </h3>
            <ul class="mt-4 space-y-4"><li>
              <a target="_blank" rel="noopener" href="#" class="text-base text-gray-500 hover:text-gray-900">
                Something
              </a></li>
              <li><a href="#" class="text-base text-gray-500 hover:text-gray-900">
                Something
              </a></li>
            </ul></div> <div class="mt-12 md:mt-0">
          <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
            Legal
          </h3> <ul class="mt-4 space-y-4"><li>
          <a href="#" class="text-base text-gray-500 hover:text-gray-900">
            Cookie Policy
          </a></li>
          <li>
            <a href="#" class="text-base text-gray-500 hover:text-gray-900">
              Privacy
            </a></li>
          <li>
            <a href="#" class="text-base text-gray-500 hover:text-gray-900">
              Terms
            </a>
          </li>
        </ul>
        </div>
        </div>
      </div>
    </div>
    <div class="mt-12 border-t border-gray-200 pt-8">
      <p class="text-base text-gray-400 xl:text-center">
        © 2021 LibreRead. All rights reserved.
      </p>
    </div>
  </div>
</footer>