<% provide(:title, 'Imports') %>

<h1 class="mt-10 mb-6 text-center text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
  Imports
</h1>

<% if @imports.empty? %>
  <h2 class="mb-2 text-3xl font-bold text-gray-500 dark:text-white text-center">
    Import list is empty!
  </h2>
<% else %>
  <div class="overflow-x-auto relative shadow-md sm:rounded-lg mx-auto md:max-w-4xl mb-10">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">
          File name
        </th>
        <th scope="col" class="py-3 px-6">
          Date of import
        </th>
        <th scope="col" class="py-3 px-6">
          <span class="sr-only">Download</span>
        </th>
        <th scope="col" class="py-3 px-6">
          <span class="sr-only">Delete</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <%= render @imports %>
      </tbody>
    </table>
  </div>
<% end %>

<div class="text-center mt-6">
  <%= link_to 'New Import', new_import_path,
              class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded' %>
</div>


